.fondo-modal{
    width:70vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo{
    width: 90%;
    height: 5vh;
    text-align: center;
    margin-top: -10px;
}
.contenido{
    width: 90%;
    height: 40vh;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.linea-pre{
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 25px;
    place-items: center;
}
.itemtitulo{
    width: 100%;
}
.linea-alternativa{
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 80%;
    height: 10vh;
    gap: 10px;
}
.itemAlternativa{
    width: 100%;
}
.boton-mas{
    width: 90%;
    height: 5vh;
    margin-left: 60px;
    color: rgb(134, 136, 139);
    display: flex;
    place-items: center;
    gap: 5px;
}