.publicacion{
    height: 90vw;
    width: 100%;
    background-color: #6a80fc;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 200px;
    
    
}
.contenedor-publicacion{
    height: 40%;
    width: 100%;
    display: flex;
    gap: 45px;
    justify-content: center;
    margin-top: -20px;
    position: relative;
    
}
.conteiner-videos{
    height: 600px;
    width: 60%;
    border-radius: 30px;
    margin-top: 35px;
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}
.conteiner-agregar{
    height: 600px;
    width: 20%;
    border-radius: 30px;
    margin-top: 35px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: rgb(20, 20, 19);
    justify-items: center;
    
    background-color: rgba(22, 22, 22, 0.5);
    border-color: black; 
   
}
.conf-sup{
    height: 90%;
    width: 40%;
     margin-top: 3%;
   overflow:auto ;
}
.configuracion{
    
   display: flex;
    flex-direction: column;
    gap: 15px;
}
.box-videos{
    height: 90%;
    width: 50%;
    margin-top: 3%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: rgb(20, 20, 19);
    font-size: 30px;
    place-items: center;
}
.arreglo{
    display: flex;
    gap: 15px;
    column-gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.video{
    height: 60%;
    width: 90%;
    margin-top: -20px;
    font-size: 20px;
}
.box-boton{
    height: 10%;
    width: 60%;
    margin-top: 50px;
    place-items: center;
}
.contenedor-inferior{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    position: relative;
}
.evaluacion{
    height: 80%;
    width: 500px;
    place-items: center;
    border-color:#000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
    background-color: rgba(179, 179, 184, 0.5);
}  

.pregunta{
    height: 70%;
    width: 80%;
    
    margin-top: 50px;
}
.participantes{
    height: 80%;
    width: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: rgba(179, 179, 184, 0.5);
}
.text-pregunta{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: rgb(0, 0, 0);
}
.alternativas{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    
}