.publicacion{
    height: 100vw;
    width: 100%;
    background-color: rgb(136, 174, 245);
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.contenedor-publicacion{
    height: 40%;
    width: 100%;
    display: flex;
    gap: 45px;
    justify-content: center;
    margin-top: -35vw;
    margin-bottom: -4vw;
}
.conteiner-videos{
    height: 80%;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-top: 35px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.conteiner-agregar{
    height: 80%;
    width: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-top: 35px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: rgb(20, 20, 19);
    justify-items: center;
   
}
.conf-sup{
    height: 90%;
    width: 40%;
     margin-top: 3%;
   overflow:auto ;
}
.configuracion{
    
   display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.box-videos{
    height: 90%;
    width: 50%;
    margin-top: 3%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: rgb(20, 20, 19);
    font-size: 30px;
    place-items: center;
}
.arreglo{
    display: flex;
    gap: 15px;
    column-gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.video{
    height: 60%;
    width: 90%;
    margin-top: -20px;
    font-size: 20px;
}
.box-boton{
    height: 10%;
    width: 60%;
    margin-top: 50px;
    place-items: center;
}
.contenedor-inferior{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-color: aquamarine;
}
.evaluacion{
    height: 80%;
    width: 60%;
    background-color: #ffffff;
    border-radius: 50px;
    place-items: center;
}  

.pregunta{
    height: 70%;
    width: 80%;
    background-color: rgb(102, 78, 47);
    margin-top: 30px;
}
.participantes{
    height: 80%;
    width: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}