.fondo-evaluacion{
    background-color: #6a80fc;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 1px;
}
.cont-supeva{
    place-items: center;
    width: 190vh;
    height: 90vh;
    display: flex;
    gap: 30px;
    margin-top:40px;
    place-items: center;
    justify-content: center;
    gap: 60px;
}

.cont-evaluacion{
    width: 50vh;
    height: 80px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 20px;
    text-align: center;
    place-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.contenido-e{
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 80vh;
    place-items: center;
    justify-content: center;
    gap: 20px;
    overflow-y: auto;

}




  