.fondo-pre{
    width: 100%;
    height: 100vh;
    background-color: hsl(198, 14%, 82%);
    place-items: center;
    align-content: center;
}
.cont{
    width: 90vh;
    height: auto;
    display: block;
    
    background-color: rgb(255, 255, 255);
}
.preguntas{
    margin-left: 40px;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}